.Body{
    margin: 50px 50px 50px 50px;
    background: #ececec;
}

.site-card-border-less-wrapper {
    background: #ececec;
  }

  .momentMiddle{
    margin: 100px 15% 5% 15%;
}
.backcolor{
    background-color: #ececec;
}