#page{
    background-color:white;
}
#WebPage{
    margin:50px 100px 50px 100px;
}

#PostPage{
    background-color:whitesmoke;
}

#Publish{
    box-shadow: 5px 5px 5px 5px lightgrey;
    width:100%;
    background-color:white;
}

#PostList{
    background-color:white;
    height:65%;
    box-shadow: 5px 5px 5px 5px lightgray;
}

#TeamNav{
    box-shadow: 5px 5px 5px 5px lightskyblue;
}

#TurnPage{
    text-align: center;
}


#Post{
    height: 100%;
    background-color: whitesmoke;
}

#Apply{
    text-align: center;
}

#site-page-header-ghost-wrapper {
    padding: 24px;
    background-color: lightskyblue;
  }

#actions{
    text-align: center;
}

#date{
    text-align: right;
    size: 8px;
}

